.navbar
{
    border-bottom:3px solid rgb(221, 220, 220);
}
nav{
    background-color:white;
}

ul{
	list-style: none;
}

.navbar-nav a{
    color: black;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 15px;
}

.navbar-nav a:hover{
    color:rgb(82, 83, 83);
}

